.main_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name {
    size: 27px;
    display: flex;
    align-content: center;
    margin-top: 5px;
    margin-left: 20px;
}

.sub_length {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 50px;
}

.btn {
    border: 0px;
    background-color: #f7a0ad;
    height: 30px;
    width: 85px;
    color: white;
    font-weight: 900;
}

.text {
    font-weight: 800;
    font-size: 11px;
}

.miles {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}

.delivery_date{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}


.right_part {
    border: 2px solid pink;
    box-shadow: 10px 10px 5px pink;
    height: 400px;
    width: 353px;
}

.date_text{
    font-size: 12px;
}

.date {
    border: none;
    box-shadow: 5px 5px 5px pink;
    height: 40px;
}

.button {
    border: 0px;
    background-color: #f7a0ad;
    height: 35px;
    width: 300px;
    color: white;
    margin-top: 80px;
    margin-left: 25px;
    font-weight: 900;
}

.car_specs {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: #d895da;
    height: 40px;
    align-items: center;
    margin-top: 10px;
}

.range_charging{
    display: flex;
}
.range {
    width: 50%;
    margin-left: 5px;
}
.charging{
    width: 50%;
}

.container_img{
    display: flex;
}
.avl_text{
    color:gray;
}

.spec{
    background-color: black;
    color: #d895da;
}