* {
  margin: 0;
  margin-right: 15px;
  background-color: white;
}

footer {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  margin-top: 150px;
  background-color: black;
  font-size: 27px;
  font-weight: bold;
  color: white;
  margin-right: 5px;
}

footer div{
  margin-right: 50px;
}